#content {
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}
body{
	background-image: url(jhon-french-400.jpg);
	background-repeat: repeat;
}
*{
	font-family: 'Julius Sans One', sans-serif;;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
}
p{
	font-family: 'Libre Baskerville', sans-serif;
}
img{
	position: relative;
    width: 100%;
    align-content: center;
}



h1{
	position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    margin-left: 350px;
    margin-bottom: 40px;
	margin-top: 130px;
    color: antiquewhite;
}

h1 span { 
   color: white; 
   font: bold 36px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px; 
   padding-left: 80px;
   padding-right: 80px;

}

h2{
	position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    margin-left: 377px;
    margin-bottom: 40px;
	margin-top: 240px;
    color: antiquewhite;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   padding-left: 50px;
   padding-right: 50px;

}

.summary{
	background-color: rgba(205,221,135,1);
	padding: 10px;
}

.preamble{
	background-color: rgba(205,221,135,1);
	padding: 10px;
}
.mainsupporting{
	background-color: rgba(205,221,135,0.2);
	padding: 10px;
} 
.participation{
	background-color: rgba(205,221,135,1);
	padding: 10px;
}
.benefits{
	background-color: rgba(205,221,135,0.2);
	padding: 10px;
}
.requirements{
	background-color: rgba(205,221,135,1);
	padding: 10px;
}
.sidebar{
	background-color: rgba(205,221,135,1);
	padding: 10px;
  padding-bottom:258px
}
.requirements p:last-child {
    width: auto;
    padding: 20px;
    margin: 0;
    color: #FFFFFF;
    
    background-image: url(jhon-french-400.jpg);
    
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.design-selection ul li{
	width: auto;
    padding: 10px;
    margin: 0;
}

.design-selection ul li a{
	color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;

}
.design-archives{
	align-content: center;
      margin-top: -407px;
    margin-left: 275px;
}
.design-archives ul li{
	width: auto;
    padding: 10px;
    margin: 0;
}

.design-archives ul li a{
	color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;

}
.zen-resources{
  float: right;
  margin-top: -162px;
  margin-right: 20px;
}
.zen-resources ul li{
	width: auto;
    padding: 10px;
    margin: 0;
}

.zen-resources ul li a{
	color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;

}

footer{
  padding: 10px;
}